numpy
pillow
matplotlib
seaborn
scikit-image
holoviews[recommended]
opencv-python
sklearn
torch-optimizer
torchsummary
jupyterlab
tensorboard
mlflow
streamlit
pyyaml
pytorch-lightning
natsort
hydra-core==1.0.6
hydra==2.5
h5py
